/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#root {
  max-width: 100%;
  overflow-x: hidden;
  padding-left: 16rem;

  @media screen and (max-width: 718px) {
    padding-left: 4rem;
  }
}

.hovercss {
  width: 82%;
  @media screen and (max-width: 718px) {
    width: fit-content
  }
  &:hover {
    background:black;
    color: gray;
    border-radius: .2rem;
  }
}

.navmenucss {
  padding: .1rem .5rem .1rem .5rem;
  &:hover {
    background:black;
    color: gray;
    border-radius: .2rem;
    width: fit-content;
    padding: .1rem .5rem .1rem .5rem;
  }
}

.signoutcss {
  padding: .1rem .5rem .1rem .5rem;
  &:hover {
    background:black;
    color: gray;
    border-radius: .2rem;
    /* width: fit-content; */
    padding: .1rem .5rem .1rem .5rem;
  }
}

.brandcss {
  padding: .1rem .5rem .1rem 0rem;
  &:hover {
    background:black;
    color: gray;
    border-radius: .2rem;
    width: fit-content;
    padding: .1rem .5rem .1rem 0rem;
  }
}

.planetcss:hover {
  color: red;
  padding: 1rem;
  background: black;
}